services:
  hmpps-document-generation-api:
    image: ghcr.io/ministryofjustice/hmpps-document-generation-api:latest
    networks:
      - hmpps
    container_name: hmpps-document-generation-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
